# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### The objectif of this notebook are:

    1-List of some populare languages used by Data Scientists
    2-Common used libraries used by Data Scientists
    3-Development environment open source tools used in Data Sciens
    4-Arithmetic expression in jupyther notebook

### Some of the popular languages that Data Scientists use are:
    1-Python
    2-R
    3-SQL
    4-C++
    5-JAVA
    6-JULIA
    7-Scala

### Some of the commonly used libraries used by Data Scientists include in pyhton are:/
    1-Pandas
    2-NumPy
    3-SciPy
    4-Matplotlib

### The  three development environment open source tools used in data science.


|Data Science Tools|
-----------------------------
|JUPYTER LAB|
|APACHE SPARK|
|RSTUDIO|

### Below are a few examples of evaluating arithmetic expressions in Python

a- 1+2 

b- 100-15

c- 6*4

#### code to multiply and add numbers

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

#### code cell to convert minutes to hours

In [9]:
#This will convert 200 minutes to hours by diving by 60
a=200 # a contain number of minutes
b=round(a/60,0)
print ('number of hours is:',b)

number of hours is: 3.0